{% extends 'chitapp/layouts/main.html' %}

{% block title %}
Chit Fund Project | Config View Page
{% endblock title %}

{% block content %}

<style>
    body {
        background: linear-gradient(135deg, #74ebd5, #acb6e5);
        font-family: Arial, sans-serif; 
        padding: 200px;
        text-align: center;
        font-size: 18px;
    }
    .form-container {
        max-width: 600px;
        background: #fff;
        padding: 30px;
        border-radius: 12px;
        margin: auto;
    }

    .form-title {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        margin: 20px 0;
    }

    th, td {
        padding: 10px;  
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .save-button {
        background-color: #0a0a0a;
        color: white;
        border: none;
        padding: 12px 20px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        transition: 0.3s;
        display: inline-block;
    }

</style>

<div class="form-container">
    <h2 class="form-title">Config View Page</h2>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            {% for config in configs %}
            <tr>
                <td>
                    <input type="hidden" name="config_id_{{ config.id }}" value="{{ config.id }}">
                    <input type="text" name="key_{{ config.id }}" value="{{ config.key }}">
                </td>
                <td>
                    <input type="text" name="value_{{ config.id }}" value="{{ config.value }}">
                </td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="save-button">Save</button>
    </form>
</div>

{% endblock %}
