{% extends 'chitapp/layouts/main.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <style>
        body{
            background: linear-gradient(135deg, #74ebd5, #acb6e5);
            padding: 100px;
            text-align: center;
        }
         nav {
        background-color: #1e1e1e;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow-x: auto;
    }

    </style>
</head>
<body>
    <h2>Registration Successful!</h2>
    <a href="/register_chit">Register Another Chit</a>
</body>
</html>

{% endblock %}
