{% extends 'chitapp/layouts/main.html' %}

{% load static %}

{% block title %}
Chit Fund Project | View Chits
{% endblock title %}

{% block content %}
<title>View Details</title>
<br>
<style>
        body {
            --background: linear-gradient(135deg, #74ebd5, #acb6e5);
            background: url("{% static 'images/mahil-cafe-kalappanaickenpatti-namakkal-coffee-shops-3b4iozhwfg.jpg' %}");
            --background-size: cover;
            font-family: Arial, sans-serif; 
            text-align: left;
            padding: 0px;
            font-size: 18px;
            align-items: flex-start;
        }
        nav {
            background-color: #1e1e1e;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 25px;
            flex-wrap: nowrap;
            white-space: nowrap;
            overflow-x: auto;
        }
        .form-container {
            max-width: 600px;
            background: #fff;
            padding: 20px;
            border-radius: 12px;
            margin: auto;
            text-align: left;
            font-weight: 300;
            margin-left: 750px;

        }
        .form-title {
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            color: #333;
            margin-bottom: 20px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        }
        label {
            font-weight: 300;
            margin-bottom: 5px;
        }
        input[type="text"], input[type="number"], textarea, select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        button {
            width: 40%;
            padding: 12px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
                    
        }

        button[type="submit"] {
            background-color: #0c0c0c;
            color: white;
        }

        button[type="button"] {
            background-color: #0f0e0e;
            color: white;
        }

        .weeks-container {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            justify-content: center;
        }

        .weeks-container label {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
        }

        .summary-container {
            background: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
            
        }
    
        .week-checkbox-wrapper {
            display: flex;
            align-items: center;
            gap: 6px;
            font-size: 14px;
            cursor: pointer;

            width: calc((100% / 6) - 6px); 
            box-sizing: border-box;
        }

        .week-checkbox-wrapper input[type="checkbox"] {
            display: none;
        }

        .custom-checkbox {
            width: 18px;
            height: 18px;
            border: 2px solid #ccc;
            border-radius: 3px;
            display: inline-block;
            position: relative;
            background-color: white;
        }

        .week-checkbox-wrapper input[type="checkbox"]:checked + .custom-checkbox::after {
            content: "";
            position: absolute;
            left: 4px;
            width: 6px;
            height: 12px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        .week-checkbox-wrapper input[type="checkbox"]:checked + .custom-checkbox {
            background-color: rgb(19, 78, 241);
        }

        .week-checkbox-wrapper input[type="checkbox"]:disabled + .custom-checkbox {
            background-color: green;
            cursor: not-allowed;
        }
        .back-btn {
            display: inline-block;
            width: 40%;
            padding: 12px;
            font-size: 16px;
            font-weight: bold;
            background-color: #0c0c0c; 
            color: white;
            text-align: center;
            text-decoration: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .horizontal-buttons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
            margin-bottom: 30px;
        }
        .chit-btn {
            background-color: #1e1e1e;
            color: white;
            border: 1px solid #444;
            padding: 10px 18px;
            font-size: 14px;
            border-radius: 6px;
            cursor: pointer;
            width: 180px;
            text-align: center;
    }
    .chit-btn.selected {
    background-color: rgb(241, 241, 176);
    color: black; 
  }

</style>


<div class="form-container">
  <h2 class="form-title">View Chit Details</h2>
  <form method="GET" id="searchForm">
    <div class="horizontal-buttons">
      {% for chit_type in chit_type_list %}
        <button type="button" class="chit-btn" onclick="selectChitType(this, '{{ chit_type }}')">
          {{ chit_type }}
        </button>
      {% endfor %}
    </div>

    <input type="hidden" name="chit_Type" id="chitTypeInput">

    <label>Chit Number:</label>
    <input type="text" name="chit_Number" id="chitNumber" placeholder="Enter Chit Number" required oninput="checkFormReady()">

    <button type="submit" id="submitBtn" disabled>Search</button>
  </form>

  <script>
    let selectedChitType = '';

    function selectChitType(button, type) {
      const buttons = document.querySelectorAll('.chit-btn');
      buttons.forEach(btn => btn.classList.remove('selected'));
      button.classList.add('selected');

      selectedChitType = type;
      document.getElementById('chitTypeInput').value = type;

      checkFormReady();
    }

    function checkFormReady() {
      const chitNumber = document.getElementById('chitNumber').value.trim();
      const isReady = chitNumber !== '' && selectedChitType !== '';
      document.getElementById('submitBtn').disabled = !isReady;
    }
  </script>
</div>

{% if chit %}
<div class="form-container">
    <h3>Chit Details</h3>
    <br>
    <p><strong>Chit Number:</strong> {{ chit.chit_Number }}</p>
    <p><strong>Chit Id:</strong> {{ chit.id }}</p>
    <p><strong>Name:</strong> {{ chit.name }}</p>
    <p><strong>Phone Number:</strong> {{ chit.phoneNumber }}</p>
    <p><strong>Address:</strong> {{ chit.address }}</p>
    <p><strong>Village:</strong> {{ chit.village }}</p>
    <p><strong>No Of Chits:</strong> {{ chit.num_Of_Chits }}</p>

    <a href="{% url 'edit_chit' chit.id %}"><button type="button">Edit</button></a>

    <h3>52 Weeks Payment</h3>
    <br>
    <p><strong>Total Paid Weeks:</strong> {{ total_paid_week }}</p>

    <p><strong>Ongoing Week:</strong> {{ ongoing_week }}</p>
    
    <form method="POST" action="{% url 'handle_payment' chit.id %}" onsubmit="return confirmPayment()">
        {% csrf_token %}
            
        <label>Enter Number of Weeks:</label>
        <input type="number" id="num_weeks" min="1" max="52" oninput="selectWeeks()">
    
        <div class="weeks-container">
    {% for week in weeks %}
        <label class="week-checkbox-wrapper">
            <input type="checkbox" class="week-checkbox" name="selected_weeks" value="{{ week }}" 
            {% if week <= total_paid_week %} disabled checked {% endif %}>
            <span class="custom-checkbox"></span>
            Week {{ week }}
        </label>
    {% endfor %}
</div>

    
        <div class="summary-container">
            <h3>Payment View Details</h3>
    
            <label>Selected Weeks:</label>
            <input type="text" id="selected_weeks_count" name="payment_weeks" readonly>
    
            <label>Amount per Week:</label>
            <input type="number" name="amount_per_week" id="amount_per_week" value="{{ chit_amount }}" readonly>
    
            <label>Overdue Fees:</label>
            <input type="number" name="overdue_fees" id="overdue_fees">
    
            <label>Total Amount:</label>
            <input type="text" id="total_amount" readonly>
    
            <label>Cash Received:</label>
            <input type="number" name="cash_received" id="cash_received" required>
    
            <label>Balance:</label>
            <input type="text" id="balance" readonly>
    
           <button type="submit" id="confirm_payment" disabled>Confirm Payment</button>
           <a href="{% url 'index' %}" class="back-btn">Back</a>


        </div>
    </form>

    {% if payment_summary %}
    <div class="summary-container">
        <h3>Payment Summary</h3>
        <p><strong>Weeks Paid:</strong> {{ payment_summary.num_selected_weeks }}</p>
        <p><strong>Total Amount:</strong> ₹{{ payment_summary.total_amount }}</p>
        <p><strong>Cash Received:</strong> ₹{{ payment_summary.cash_received }}</p>
        <p><strong>Balance:</strong> ₹{{ payment_summary.balance }}</p>
    </div>
    {% endif %}
</div>

    <script>
        function selectWeeks() {
        let numWeeks = parseInt(document.getElementById("num_weeks").value);
        let checkboxes = document.querySelectorAll(".week-checkbox");
        let selectedCount = 0;

        checkboxes.forEach((checkbox) => {
            if (!checkbox.disabled) {
                checkbox.checked = false; 
                
            }
        });

        let count = 0;
        for (let checkbox of checkboxes) {
            if (!checkbox.disabled && count < numWeeks) {
                checkbox.checked = true;
                count++;
            }
        }

        document.getElementById("selected_weeks_count").value = count;
        calculateTotal();
    }

        function calculateTotal() {
        let numWeeks = parseInt(document.getElementById("selected_weeks_count").value) || 0;
        let amountPerWeek = parseFloat(document.getElementById("amount_per_week").value) || 0;
        let overdueFees = parseFloat(document.getElementById("overdue_fees").value) || 0;
        let cashReceived = parseFloat(document.getElementById("cash_received").value) || 0;

        let totalAmount = (numWeeks * amountPerWeek) + overdueFees;
        document.getElementById("total_amount").value = totalAmount;
        let balance = totalAmount - cashReceived;
        document.getElementById("balance").value = balance;

        if (cashReceived && cashReceived < totalAmount) {
            document.getElementById("message").innerText = "Cash received is less than the total amount.";
            document.getElementById("message").style.color = "red";
            document.getElementById("confirm_payment").disabled = true;
        } else {
            document.getElementById("message").innerText = "";
            document.getElementById("confirm_payment").disabled = false;
        }
    }

    function confirmPayment() {
        let totalAmount = document.getElementById("total_amount").value || 0;
        let weeks = document.getElementById("selected_weeks_count").value || 0;
        let cashReceived = parseFloat(document.getElementById("cash_received").value) || 0;
        
        let balance = totalAmount - cashReceived;

        let confirmMsg = `Selected Weeks : ${weeks}\n` +
                         `CashReceived : ${cashReceived}\n`+
                         `Total Amount : ₹${totalAmount}\n` +
                         `Balance : ₹${balance}\n\n`+
                         `Click Ok Button.`;
                         
        return confirm(confirmMsg);
    }
        
        document.getElementById("num_weeks").addEventListener("input", selectWeeks);
        document.getElementById("overdue_fees").addEventListener("input", calculateTotal);
        document.getElementById("cash_received").addEventListener("input", calculateTotal);
    </script>

    <div id="message" style="color: red; font-weight: bold;"></div>

    
    
{% endif %}
{% endblock content %}
