{% extends 'chitapp/layouts/main.html' %}

{% block title %}
Chit Fund Project
{% endblock title %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
    body {
        background: linear-gradient(135deg, #74ebd5, #acb6e5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 18px;
    }

    nav {
        background-color: #1e1e1e;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px 25px;
        gap: 20px;
    }

    nav a {
        color: #ccc;
        text-decoration: none;
        font-weight: 500;
        padding: 8px 10px;
        display: inline-block;
        transition: color 0.3s;
        font-size: 16px;
    }


    .main-heading {
        font-size: 56px;
        font-weight: bold;
        color: #1e1e1e;
    }
</style>

<div class="main-heading">
    𝓜𝓪𝓱𝓲𝓵 𝓒𝓱𝓲𝓽𝓼 𝓕𝓾𝓷𝓭
</div>

{% endblock content %}
